{{- if and .Values.backend.enabled .Values.backend.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "artifact-keeper.fullname" . }}-backend
  labels:
    {{- include "artifact-keeper.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  minAvailable: {{ .Values.backend.podDisruptionBudget.minAvailable }}
  selector:
    matchLabels:
      {{- include "artifact-keeper.backend.selectorLabels" . | nindent 6 }}
{{- end }}
